.btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  max-width: 10rem;
  text-align: center;
  cursor: pointer;
}

.btn_buy {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #006219;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  max-width: 10rem;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}